/* Reset some default styles */
body,
h1,
h2,
h3,
p,
label,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  font-family: 'Markazi Text', serif;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

#body {
  background-color: #00010D;
}

.main {
  text-align: center;
}

em {
  color: blue;
}

#the-most-important {
  color: gold;
}

/* Navigation Bar Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3B403F;
}

li {
  float: right;
  border-right: 1px solid #BFB8B4;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li .active {
  background-color: rgb(90, 96, 96);
}

/* Style the header */
h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

/* Style contact information */
p {
  color: #BFB8B4;
  margin: 10px;
}

p a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

/* Style the contact form */
h3 {
  color: #BF8C6F;
  text-align: center;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  color: rgb(95, 88, 88);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: rgb(95, 88, 88);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-radius: 10px;
  border-spacing: 0;
  border: var(--border);
  overflow: hidden;
  caption-side: bottom;
  background-color: #9c8c82;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even) {
  background-color: #80675e8e;
}

.top {
  text-transform: uppercase;
  background-color: #EB5406;
}

tr:hover {
  background-color: #D9D2D0;
}

#caption-color {
  color: #8C8581;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #00010D;
  color: #4a3f3f;
  padding: 20px;
  text-align: center;
}

footer address {
  margin-bottom: 20px;
}

#footer1 {
  margin: 20px;
  padding: 20px;
  border: 1px solid #797070;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #413939;
  color: white;
}

.author {
  color: aliceblue;
  font-weight: bold;
}

#mailto {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

#mailto:hover {
  color: #ff8c44;
}

small {
  display: block;
}

.heart {
  color: #ff6600;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 5px;
}

#Other {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

#Other:hover {
  color: #ff8c44;
}

#top {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

#top:hover {
  color: #ff8c44;
  cursor: pointer;
}

.responsive {
  width: 100%;
  height: auto;
}

.legend {
  color: #8C8581;
}

::selection {
  background-color: #a05c5c;
}

.input {
  height: 20px;
}

#name {
  width: auto;
}

#email {
  width: auto;
}

#head1 {
  margin: 40px;
  padding: 30px;
}

#hamburger {
  float: left;
}

#hamburger i {
  padding: 14px 16px;
  color: white;
  cursor: pointer;
}

ul>li:not(#hamburger) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

ul:hover>li:not(#hamburger) {
  opacity: 1;
  visibility: visible;
}

/*
#hamburger:hover+li,
#hamburger:hover+li+li,
#hamburger:hover+li+li+li,
#hamburger:hover+li+li+li+li,
#hamburger:hover+li+li+li+li+li,
#hamburger:hover+li+li+li+li+li+li {
  opacity: 1;
  visibility: visible;
}
*/
#hamburger:hover~li:nth-child(2),
ul:hover>li:nth-child(2) {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

#hamburger:hover~li:nth-child(3),
ul:hover>li:nth-child(3) {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
}

#hamburger:hover~li:nth-child(4),
ul:hover>li:nth-child(4) {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s;
}

#hamburger:hover~li:nth-child(5),
ul:hover>li:nth-child(5) {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
}

#hamburger:hover~li:nth-child(6),
ul:hover>li:nth-child(6) {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

#hamburger:hover~li:nth-child(7),
ul:hover>li:nth-child(7) {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

/*
#hamburger:hover+li {
  transition-delay: 0.1s;
}

#hamburger:hover+li+li {
  transition-delay: 0.2s;
}

#hamburger:hover+li+li+li {
  transition-delay: 0.3s;
}

#hamburger:hover+li+li+li+li {
  transition-delay: 0.4s;
}

#hamburger:hover+li+li+li+li+li {
  transition-delay: 0.5s;
}

#hamburger:hover+li+li+li+li+li+li {
  transition-delay: 0.6s;
}
*/

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-top: 8px dotted #3e5667;
  border-right: 8px dotted transparent;
  border-bottom: 8px dotted transparent;
  border-left: 8px dotted transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}