@media only screen and (max-width: 768px) {

    /* ... Your existing styles ... */
    /* Adjust font size for better readability on mobile */
    body {
        font-size: 18px;
    }

    /* Adjust hamburger icon for smaller screens */
    #hamburger i {
        padding: 14px;
    }

    /* By default, hide the checkbox */
    #menuToggle {
        display: none;
    }

    /* Style the label to be your clickable hamburger icon */
    #hamburger label {
        display: block;
        cursor: pointer;
    }

    /* Adjust navigation for smaller screens */
    ul {
        height: auto;
        display: block;
    }

    /* Adjust navbar items */
    ul li {
        float: none;
        width: 100%;
        text-align: left;
    }


    /* By default on mobile, hide all navigation items except for the hamburger icon and theme changer */
    ul li:not(#changeTheme):not(#hamburger) {
        display: none;
    }

    /* Show navigation items when checkbox is checked */
    #menuToggle:checked~#changeTheme,
    #menuToggle:checked~#changeTheme+li,
    #menuToggle:checked~#changeTheme+li+li,
    #menuToggle:checked~#changeTheme+li+li+li,
    #menuToggle:checked~#changeTheme+li+li+li+li,
    #menuToggle:checked~#changeTheme+li+li+li+li+li,
    #menuToggle:checked~#changeTheme+li+li+li+li+li+li {
        display: block;
    }

    /* Adjust the header to ensure it fits the mobile screen and is centered */
    h1 {
        font-size: 24px;
    }

    /* Adjust main content for better readability */
    .main {
        margin: 10px 0;
    }

    /* Tables: Allow them to scroll horizontally on small screens */
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}